@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
.form-item input:valid ~ .check,
.auth-form input:invalid ~ .cross {
  display: block;
}
.form-item input:valid ~ .cross,
.auth-form input:invalid ~ .check {
  display: none;
}
.form-item input:placeholder-shown ~ .cross,
.form-item input:placeholder-shown ~ .check {
  display: none !important;
}

.form-item {
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.form-item:focus-within {
  border-color: #3b82f6; /* Blue border color */
  box-shadow: 0 0 6px 2px rgba(44, 121, 246, 0.6); /* Glowing effect */
}

.loader {
  width: 16px;
  height: 16px;
  line-height: 16px;
  border: 2px solid  #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.alert {
  font-size: 13px;
  background-color: #d9f3f8;
  padding: 8px 10px;
  width: fit-content;
  border-radius: 10px;
  text-align: center;
  margin: 20px 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
}
#scroll-container {
  margin-bottom: 50px;
  scroll-behavior: smooth;
}

#scroll-container::-webkit-scrollbar {
  width: 0;
}

.tooltip {
  font-size: 10px !important;
  padding: 5px 8px !important;
}
#user:hover .user-remove-icon {
  display: block;
}
.p-fileupload-choose {
  background-color: #3b82f6;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.p-fileupload-choose svg {
  width: 6px;
  height: 6px;
  color: white;
  line-height: 10px;

  margin: 0 auto;
}
.p-button-label {
  display: none;
}
#photo-message {
  cursor: pointer !important;
}
#message:hover #delete-chat,
#delete-chat:hover {
  opacity: 1;
}

#group-name:focus + .check {
  display: block;
}
/* Apply scrollbar styles to elements with the class "scrollbar" */
.scrollbar::-webkit-scrollbar {
  width: 8px; /* Set the width of the scrollbar */
}

/* Style the scrollbar track (the empty background) */
.scrollbar::-webkit-scrollbar-track {
  background: #f0f0f0; /* Light gray background for the track */
  border-radius: 10px; /* Smooth corners */
}

/* Style the scrollbar thumb (the draggable part) */
.scrollbar::-webkit-scrollbar-thumb {
  background-color: #888; /* Darker gray for the thumb */
  border-radius: 10px; /* Rounded thumb for a minimal look */
  border: 2px solid #f0f0f0; /* Space between thumb and track */
}

/* Add hover effect to the scrollbar thumb */
.scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Darker color for the thumb on hover */
}



.main-loader {
  width: 40px;
  aspect-ratio: 1;
  display: grid;
}

.main-loader::before,
.main-loader::after {    
  content:"";
  grid-area: 1/1;
  --c:no-repeat radial-gradient(farthest-side, #25b09b 92%, #0000);
  background: 
    var(--c) 50%  0, 
    var(--c) 50%  100%, 
    var(--c) 100% 50%, 
    var(--c) 0    50%;
  background-size: 10px 10px; 
  animation: l12 1s infinite;
}

.main-loader::before {
  margin: 3px; 
  filter: hue-rotate(45deg);
  background-size: 7px 7px;
  animation-timing-function: linear;
}

@keyframes l12 { 
  100% { transform: rotate(.5turn); }
}

.chats-loader {
  width: 24px; /* Reduced width */
  height: 24px; /* Reduced height */
  border-radius: 50%;
  position: relative;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.chats-loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 3px solid #888888; /* Reduced border size */
  animation: prixClipFix 1.3s linear infinite;
}

@keyframes prixClipFix {
  0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
  25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
  50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
  75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
  100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
}
