@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
.form-item input:valid ~ .check,
.auth-form input:invalid ~ .cross {
  display: block;
}
.form-item input:valid ~ .cross,
.auth-form input:invalid ~ .check {
  display: none;
}
.form-item input:placeholder-shown ~ .cross,
.form-item input:placeholder-shown ~ .check {
  display: none !important;
}

.form-item {
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.form-item:focus-within {
  border-color: #3b82f6; /* Blue border color */
  box-shadow: 0 0 6px 2px rgba(44, 121, 246, 0.6); /* Glowing effect */
}

.loader {
  width: 16px;
  height: 16px;
  line-height: 16px;
  border: 2px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;

  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.alert {
  font-size: 13px;
  background-color: #d9f3f8;
  padding: 8px 10px;
  width: 90%;
  border-radius: 10px;
  text-align: center;
  margin: 20px 0;
  position: absolute;
  left:50%;
  transform: translateX(-50%);
  z-index: 9999;
}
#scroll-container {
  margin-bottom: 50px;
  scroll-behavior: smooth;
}

#scroll-container::-webkit-scrollbar{
width: 0;
}

.tooltip {
font-size: 10px !important;
 padding: 5px 8px !important;
}